.github
.venv
.vscode
example
.editorconfig
.git*
.gitignore
.idea
.envrc*
.markdownlint-cli2.yaml
.pre-commit-config.yaml
.mise*
.prettier*
.goreleaser.yaml
.python-version
.tp.toml
.typos.toml
dev-requirements.txt
gh-tp
README.md
gh-actlock
gh-install
*.exe
Makefile
