name: Go - Audit

on:
  pull_request:
    branches:
      - "main"
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"
  push:
    branches: ["*"]
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  audit-reusable:
    uses: esacteksab/.github/.github/workflows/go-ci.yml@4c74ee926d71c95fbf6961a9b74ebeeb07b5dc2a  # v0.73.4
