name: Go - Test In Docker

on:
  pull_request:
    branches:
      - "main"
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"
  push:
    branches: ["*"]
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  go-test-docker:
    uses: esacteksab/.github/.github/workflows/go-test-in-docker.yml@ad96e844b8b6a2ee5aeebc65e671a831ea196a93 #v0.60.0
