name: Go - Test In Docker

on:
  pull_request:
    branches:
      - "main"
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"
  push:
    branches: ["*"]
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  go-test-docker:
    uses: esacteksab/.github/.github/workflows/go-test-in-docker.yml@5936566d56660af0e2d15014dd0b4a6b0ee6ec0f #v0.50.3
