name: golangci-lint

on:
  push:
    branches:
      - main
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"
  pull_request:
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  golangci-reusable:
    uses: esacteksab/.github/.github/workflows/golangci-lint.yml@8a6b991e204a24e28b13f62d377720a699c84eae #v0.71.0
